// Generate using `npx auth secret`
BETTER_AUTH_SECRET=""

// Create a project in GitHub Developer Settings and create an OAuth App
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

// Create a project in Google Cloud Console and enable "OAuth Consent Screen" and "Credentials"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""